@import "null.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
.wrapper {
    min-height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    color: white;
    font-family: "Roboto";
}

.container_background {
    background: url("../image/duotone.jpg");
    max-width: 1440px;
    min-height: 800px;
    background-size: cover;
}
.box {
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 26px;
}
.above-menu {
    display: flex;
    margin-bottom: 27px;
    .logotype {
        margin-right: 236px;
        /*&::before {
            background-image: url(../image/);
        }*/
    }
    .boarding-hours {
        margin-right: 30px;
    }
    .call-us {
        margin-right: 32px;
    }
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    margin-bottom: 126px;
    padding-left: 40px; /*Ну просто по отдельности padding мне лично легче */
    padding-right: 48px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    border-radius: 10px;
    .menu__item-left,
    .menu__item-right {
        display: flex;
    }
    .menu__list {
        padding-right: 37px;
        &:last-child {
            padding-right: 0;
        }
        &:hover {
            text-decoration: underline;
            transition-duration: 1s;
        }
    }
    .menu__list_margin {
        padding-right: 22px;
    }
}

.tittle {
    margin-bottom: 48px;
    font-size: 56px;
    font-weight: 900;
    line-height: 1;
    text-align: left;
    padding-right: 276px;
}

.big-button__link {
    background-color: #f2726f;
    font-size: 12px;
    font-weight: 700;
    padding: 18px 30px;
    text-align: center;
    line-height: 1.7;
    border-radius: 8px;
    transition-duration: 500ms;
    &:hover {
        background-color: #5d62b5;
    }
}

.main {
    background-color: #f5f5f5;
}
.who-we-are {
    position: relative;
}
.who-we-are__container {
    background-color: #5d62b5;
    max-width: 1020px;
    min-height: 700px; /*Просмотреть что там*/
    margin: 0 auto;
    padding-top: 110px;
    padding-left: 87px;
    position: relative;
    z-index: 4;
    top: -80px;
    border-radius: 40px;
    .who-we-are__item {
        position: relative; /*? Не знаю можно ли так */
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 33px;
        padding-left: 40px;
        &::before {
            display: block;
            content: "";
            background: url("../image/Mark.svg") 0 0 no-repeat;
            width: 18px;
            height: 20px;
            position: absolute;
            top: -8px;
            left: -5px;
        }
    }
    .who-we-are__tittle {
        font-size: 36px;
        font-weight: 900;
        max-width: 583px;
        margin-bottom: 36px;
    }
    .who-we-are__text {
        color: #f5f5f5;
        line-height: 1.2;
        max-width: 846px;
    }
}
.dog__image {
    display: inline-block;
    max-width: 846px;
    max-height: 420px;
    margin: 0 auto;
    position: absolute;
    z-index: 10;
    /*bottom: -50px;
    left: 280px;*/
    left: 0;
    right: 0;
    bottom: -150px;
}
.blob__item {
    position: absolute;
    top: 275px;
    left: 45px;
    z-index: 5;
}
.circles__image {
    position: absolute;
    z-index: 30;
    top: -110px;
    left: 900px;
}
